<h2>Comment</h2>
<table class="table">
  <tr>
    <td><% book.comments.each do |comment| %>
      　<%= link_to(comment.user) do %>
      　<%= image_tag comment.user.get_profile_image, size:"100x100" %><br>
      　<%= comment.user.name %></td>
    　　<% end %>
    　<td><%= comment.comment %></td>
    　　<% if comment.user == current_user %>
    　<td><%= link_to "Destroy", book_comment_path(comment.book, comment), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger" %></td>
  　<% end %>
  <% end %>
  </tr>
</table>


<%= form_with model: [book, comment] do |f| %>
  <%= f.text_area :comment, class: 'form-control', style: "width:100%", rows: "5" %><br>
  <%= f.submit "送信" %>
<% end %>